{% load static %}
<html>
  <head>
    <title>Populace Restaurant Reviews</title>
    <link rel="stylesheet" href=" {% static 'css/base.css' %}"
  </head>
  <body>
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'home' %}">Populace Restaurant Reviews</a></h1>
        </div>
      </header>
        <div class="nav-right">
          <a href="{% url 'review_new' %}">+ Write a Review<a/>
        </div>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>