{% load static %}
<html>
  <head>
    <title>Populace Restaurant Reviews</title>
    <link rel="stylesheet" href=" {% static 'css/base.css' %}"
  </head>
  <body>
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'home' %}">Populace Restaurant Reviews</a></h1>
        </div>
      </header>
      <div class="nav-right">
        {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'review_new' %}">+ Write a Review<a/></p>
      {% else %}
        <p> You are not logged in.</p>
        <a href=" {% url 'login' %}">Login</a>
      {% endif %}
      </div>

    </div>
  </body>
</html>