{% extends 'base.html' %}

{% block content %}
  <div class="post-entry">
    <h2><a>{{ restaurant.restaurant_name }}</a></h2>

  </div>

  <h3>Reviews for this restaurant:</h3>
    {% for restaurant in restaurant.reviews.all  %}
    <div class="post-entry">
      <p>{{ restaurant.author }} - {{ restaurant.rating}}-star - Created {{ restaurant.created}} </p>
        <p>{{restaurant.body}}</p>

        <a href="{% url 'review_detail' restaurant.pk %}">Read Review</a>
    </div>
    {% endfor %}
{% endblock content %}

