{% extends 'base.html' %}

{% block content %}
  <div class="post-entry">
    <h2><a>{{ review.restaurant}}</a></h2>
    <p>Some text here</p>
  </div>

  <h2>Reviews for this restaurant</h2>
    {% for arestaurant in review.restaurants.review_title.all %}
      <div class="post-entry">
        <h2><a href="{% url 'restaurant_reviews' arestaurant.pk %}">{{ arestaurant.review_title }}</a></h2>
        <p>{{ arestaurant.review_title}}</p>
        <p>{{ arestaurant.body}}</p>
      </div>
    {% endfor %}
{% endblock content %}

