{% extends 'base.html' %}
{% comment "" %}
Name: Ryan Kirkbride
Date: 3/1/2023
Class: CIS218-Barnes
{% endcomment %}
{% block content %}
<div class="post-entry">
  <p>User: {{ review.author }}</p>
  <p>Rating: {{ review.rating }}</p>
  <p>Reviw: {{ review.body }}</p>
  <p>Created: {{ review.created }}</p>
  <p>Updated: {{ review.updated }}</p>
</div>
{% if user.is_authenticated %}
  <button type="button" class="btn border1 border111"><a href="{% url 'review_edit' review.pk %}">Edit Review</a></button>
  <button type="button" class="btn border1 border111"><a href="{% url 'review_delete' review.pk %}">Delete Review</a></button>

{% endif %}
{% endblock content %}